body{
    background: linear-gradient(to right, rgb(129, 224, 255), #fbc7d4);
}
a { color: inherit;text-decoration: none } 

#profile-pic{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 3%;
    margin-top: 12%;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: underline;
    color:slategray;
}

#sub-header{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color:darkslategrey;
    margin: 10px;
    animation: fadeIn 7s forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}