body{
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0); 
}
a { color: inherit; } 

#profile-pic{
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 3%;
    margin-top: 12%;
}

#header{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    font-weight: bolder;
    text-decoration: underline;
    color:whitesmoke;
}

#sub-header{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    color:whitesmoke;
    margin: 10px;
}